<!DOCTYPE html>
<html lang="en-US">

{% include head.html %}

<main itemtype="https://schema.org/WebPage" id="wrapper" class="floatleft floatright" markdown="1">
{% include swatchbreak.html %}{% include nav.html %}
{{ content }}
{% include footer.html %}

<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" href="/css/lightbox.css">

</main>

  
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
</script>

</html>
